<div class="start-container">
    <div class="max-auto game-start">
        <div id="game-title">
            <h1>{{gameTitle}}</h1>
            <p></p>
            <h4>{{gameTitleDetail}}</h4>
        </div>
        <p></p>
        <p></p>
        <div id="game-play">
            <form action="/play-game" method="GET" class="navbar-form navbar-right" role="form">
                <button type="submit" class="btn btn-success btn-lg">Play</button>
            </form>


        </div>
    </div>
</div>