<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <div class="score-tiles">
            TILES
        </div>
    </div>
    <div class="col-3">
        <div class="score-trials">
            TRIALS
        </div>
    </div>
    <div class="col-3">
        <div class="score-score">
            SCORE
        </div>
    </div>
</div>

<div class="max-auto game-start">
    <div id="game-board">

    </div>
</div>
<div id="game-terminate">
    <form action="/summary" method="POST" class="navbar-form navbar-right" role="form">
        <input type="hidden" id="scoreInput" name="score" class="form-control" value="">
        <button type="button" onclick="confSubmit(this.form);" class="btn btn-secondary btn-sm">Terminate</button>
        
    </form>



    {{!-- <button type="button" class="btn btn-secondary btn-sm" onclick="gameTerminate();">Terminate</button> --}}
</div>