
div {
    display: block;
}
body {
    margin: 0;
    font-family: "Museo Sans", "Lucida Grande", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: rgb(182, 182, 182);
    background-color: #fff;
}

.start-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container {
    height: 100%;
    padding: 10px 20px 10px 20px;
    background-image: radial-gradient(rgba(64, 31, 31, 0.9), rgba(34, 16, 16, 1));
    margin-bottom: 5%;
}
.game-content-wrapper{

}

.game-start {
    text-align: center;
}
.score-tiles{
    background-color: #B8B6B6;
    color: black;
}
.score-trials{
    background-color: #B8B6B6;
    color: black;
}
.score-score{
    background-color: #B8B6B6;
    color: black;
}

#game-terminate{
    position: absolute;
    bottom: 0;
}
 
.square:before{
	content: "";
	display: block;
	padding-top: 100%; 	
}




#game-board{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
.rightColor{
    background-color: turquoise;
    transform: rotateY(180deg);
    transition: transform 1s, background-color 3s;
}
.wrongColor{
    background-color: rgb(241, 117, 45);
    transform: rotateY(180deg);
    transition: transform 1s, background-color 3s;
}
.originalColor{
    /* background-color:rgb(41, 39, 39); */
    transform: rotateY(180deg);
    transition: transform 1s, background-color 0.75s;
}
.rotated { 
    -webkit-transform: rotate(0deg) 1s;
    -webkit-transform: rotate(90deg) 1s;
    -moz-transform: rotate(90deg) 1s;
    -o-transform: rotate(90deg) 1s;
    -ms-transform: rotate(90deg) 1s;
    transform: rotate(90deg) 1s;
}

.box{
    width: 50%;
    height: 50%;
    padding: 4px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border: 4px solid #fff;
   }

#restart-button{
    text-align: center;
}

.summary-submit-button{
    text-align: center;
    margin-top: 10%;
}
.leaderboard{
    text-align: center;
    margin: auto;
}
.userTable{
    margin: auto;
    text-align: center;
}